*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/*add background image*/
li, a {
    font-family: "Delius", serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between; /* push left and right items to far edges & item in the middle is going to evenly  space the two */
    align-items: center; /* takes everything in header and aligns it to center */
    padding: 30px 10%;
}

.navlinks {
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks a::after, .navlinks a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks a:hover::after, .navlinks a:hover::after{
width: 100%;
}








/************* ABOUT ME ************/

/* Edits the about-me section */
.about-me{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: 1522px 842px;
}

/* Edits the heading */
.about-me h1{
    font-size: 55px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Edits the paragraph */
.txt{
    font-size: 21px;
    padding-right: 10%;
    padding-top: 7%;
}

/* image format */
img{
    max-width: 410px;
    float: left;
    padding-left: 13%;
    margin-right: 50px;
}

/******** FOOTER ********/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    height: auto;
    width: 99vw;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000000;
}

.foot-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}