*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/*font for header*/
li, a {
    font-family: "Delius", serif;
    font-weight: 400;
    font-style: normal;
    color:#dd7a9b;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end; /* push left everythingto the right */
    align-items: center; /* takes everything in header and aligns it to center */
    padding: 30px 8%;
}

h1{
    margin-right: auto;
    font-family: "Fleur De Leah", serif;
    font-weight: 400;
    font-style: normal;
    color: #dd7a9b;
}

.navlinks {
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

/*underline the tab links*/
.navlinks a::after, .navlinks a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
 /*adds hovering effect*/
.navlinks a:hover::after, .navlinks a:hover::after{
width: 100%;
}

/****** 3D INTERACTION ******/
iframe{
    align-items: center;
    height:500px;
    width:1000px;
}

/************* WELCOME BANNER ************/


/************* ABOUT ME ************/

/* Edits the about-3D section */
.about-balloon{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: 1522px 842px;
}

/* Edits the heading */
.about-balloon h1{
    font-size: 55px;
    font-family: "Delius", serif;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0%;
}

/* Edits the paragraph */
.txt{
    font-size: 21px;
    padding-right: 10%;
    padding-top: 7%;
}



/****** GAMING ******/
.gaming{
    background-image: url(images/♡︎.png);
}
/*
.gaming-header{
    background-color: black;
}*/
.gaming-navlinks {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #ffb7f3,
                0 0 0.8rem #ffb7f3,
                0 0 2.8rem #ffb7f3,
                inset 0 0 1.3rem #ffb7f3;
}

.gaming-navlinks {
    list-style: none;
}

.gaming-navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.gaming-navlinks a::after, .gaming-navlinks a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffb7f3;
    display: block;
    margin: auto;
    transition: 0.5s;
}



/******** FOOTER ********/
/*
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    height: auto;
    width: 99vw;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000000;
}

.foot-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
} */