*{
    margin: 0;
    padding: 0;
}

/* LOGO */
.logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
    color: #fcc6e3;  /* Cute pink accent color */
    text-align: center;

}

/*add a line under each tab*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/* when hovering over, line appears */
.nav-links ul li:hover::after{
    width: 100%;
}






/************* ABOUT ME ************/

/* Edits the about-me section */
.about-me{
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: 1522px 842px;
}

/* Edits the heading */
.about-me h1{
    font-size: 55px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Edits the paragraph */
.txt{
    font-size: 21px;
    padding-right: 10%;
    padding-top: 7%;
}

/* image format */
img{
    max-width: 410px;
    float: left;
    padding-left: 13%;
    margin-right: 50px;
}

/******** FOOTER ********/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    height: auto;
    width: 99vw;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000000;
}

.foot-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}